.idea

DownloadedKirkFiles/first-scene.html
chapter-02/01-basic-scene.html
DownloadedKirkFiles/libs
DownloadedKirkFiles/Pong.html
DownloadedKirkFiles/Assignment2.html
DownloadedKirkFiles/DS.html
DownloadedKirkFiles/extended_sphere.html
DownloadedKirkFiles/FromMemory.html
DownloadedKirkFiles/Snowmen/libs/three.js
DownloadedKirkFiles/Snowmen/SnowmanClass.html
DownloadedKirkFiles/Snowmen/three.js
DownloadedKirkFiles/Snowmen/stats.js
DownloadedKirkFiles/stats.js
DownloadedKirkFiles/Snowmen/FromMemory.html
DownloadedKirkFiles/color_faces_sphere.html
DownloadedKirkFiles/three.js
*.exe
SelfCreatedAssets/Dr.KirkLaura_files/01-Hugo.html
SelfCreatedAssets/Dr.KirkLaura_files/01-Noah.html
SelfCreatedAssets/Dr.KirkLaura_files/06560f3a30
SelfCreatedAssets/Dr.KirkLaura_files/3 Marias Wall-E with Medal.png
SelfCreatedAssets/Dr.KirkLaura_files/9968df22-b55e-11e6-941d-edbc894c2b78.png
SelfCreatedAssets/Dr.KirkLaura_files/alerts
SelfCreatedAssets/Dr.KirkLaura_files/badge.js.download
SelfCreatedAssets/Dr.KirkLaura_files/badge
SelfCreatedAssets/Dr.KirkLaura_files/all
SelfCreatedAssets/Dr.KirkLaura_files/badges
